.carousel-inner {
    height: 15%; /* Height of the carousel */
    width: 100%; /* Width of the carousel */
    background-color: var(--black);
}

.carousel-image {
    height: 320px; /* Height of the carousel */
    object-fit: contain; /* To fit in the carousel */
    object-position: top; /* Clop from the center */
    position: relative;
    z-index: 2;
}

.carousel-item {
    position: relative;
    z-index: 1;
}

.carousel-background {
    background-image: url(./assets/img/placeholders.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(10px) brightness(0.7) sepia(0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.movieCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: transparent;
    border: 0;
    color: var(--black);
    text-align: center;
    width: 100%;
}