:root {
    --black:#181818;
    --grey:#2f2f2f;
    --yellow: #F1CD55;
    --white: #FAF1E5;
    --red: #ED254E;
    --blue: #2C8C99;
}

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;  
}

h1,h2,h3 {
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--yellow);
}
